.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
}

.h1 {
    margin-bottom: 30px;
    transform: translateY(-140px);
    color: #ffd902;
    text-shadow: 1px 1px 1.5px #000
}

.loginContainer {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    transform: translateY(-78px);
}

.loginContainer h2 {
    margin-bottom: 30px;
}

.emailOK, .senha {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.senhaDiferente {
    border: 1px solid #ff0000;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    
}

.emailDiferente {
    border: 1px solid #ff0000;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.loginButton {
    align-self: center;
    width: fit-content;
    background-color: #ffd902;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.jaPossui {
    color: #007bff;
    align-self: center;
}

.jaPossui:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #007bffcc;
}