.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
    align-items: center;
    justify-content: center;
    background-color: #313131;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    margin-bottom: 30px;
    transform: translateY(140px);
    color: #ffd902;
    text-shadow: 1px 1px 1.5px #000;
    position: absolute;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

.loginContainer h2 {
    margin-bottom: 30px;
}

.emailOK, .senha {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.senhaDiferente, .emailDiferente {
    border: 1px solid #ff0000;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    
}

.loginButton {
    align-self: center;
    width: fit-content;
    background-color: #ffd902;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 10px 0px #888888;
}

.loginButton:hover {
    background-color: #f1cd00;
}

.loginButton:active {
    box-shadow: 1px 1px 4px 0px #888888;
}

.jaPossui {
    color: #007bff;
    align-self: center;
}

.jaPossui:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #007bffcc;
}

.usuarioExiste2 {
    background-color: #fbff02;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.usuarioCriado2 {
    background-color: #02ff0c;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.usuarioExiste, .usuarioCriado, .avisoSenhaDiferente, .emailInvalido, .emailESenhaInvalidos, .emailOuSenhaInvalidos {
    display: none;
}

.avisoSenhaDiferente2, .emailInvalido2, .emailESenhaInvalidos2, .emailOuSenhaInvalidos2 {
    background-color: #ff0000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
}

@media screen and (max-width: 532px) {
    .h1 {
        text-align: center;
        width: 75%;
    }
    
    .loginContainer {
        width: 80%;
    }

    .loginContainer h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .jaPossui {
        text-align: center;
        width: 70%;
    }
}