.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    color: #ffd902;
    border-bottom: 1px solid #000;
    background-color: #313131;
    text-shadow: 1px 1px 1.5px #000;
}

@media screen and (max-height: 450px) {
    .header {
        height: 42px;
    }
}