.container_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    width: 75vw;
}

.listContainer {
    display: flex;
    font-size: 1.2rem;
    width: 75vw;
}

.listLeft, .listCenter, .listRight {
    padding: 20px;
}

.listLeft {
    border-radius: 25px 0 0 25px;
    background-color: #ffd902;
    width: 5rem;
    text-align: center;
}

.listRight {
    border-radius: 0 25px 25px 0;
    background-color: #ffd902;
}

.listCenter {
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
    word-break: break-all;
}

.trash {
    height: 32px;
    font-size: 16px;
    justify-self: center;
    padding: 8px;
    background-color: #e62424;
    border-radius: 10px;
    margin-left: 10px;
    right: 0;
}

.trash:hover {
    cursor: pointer;
}